{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_emailutils/bounce_config

    This template renders a bounce threshold table row

    Context variables required for this template:
    * selectoractive If this selector is the one in use

    Example context (json):
    {
        "handlebounces": true,
        "blockbounces": true,
        "minbounces": 10,
        "bounceratio": 0.2,
        "breakdown": [],
        "total": {
            "overthreshold": 5,
            "overbouncereq": 3,
            "underbouncereq": 2
        }
    }
}}
<h5>{{#str}} configuration {{/str}}</h5>
<ul>
    <li>handlebounces: {{handlebounces}}</li>
    <li>blockbounces: {{blockbounces}}</li>
    <li>minbounces: {{minbounces}}</li>
    <li>bounceratio: {{bounceratio}}</li>
</ul>

<h5>{{#str}} bouncebreakdown, tool_emailutils {{/str}}</h5>
<table class="admintable generaltable table-bordered table-sm w-auto">
    <thead>
    <tr>
        <th>{{#str}} domain, tool_emailutils {{/str}}</th>
        <th class="text-end">{{#str}} check:bounces:breakdown:overthreshold, tool_emailutils{{/str}}</th>
        <th class="text-end">{{#str}} check:bounces:breakdown:overminbounces, tool_emailutils{{/str}}</th>
        <th class="text-end">{{#str}} check:bounces:breakdown:underminbounces, tool_emailutils{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#breakdown}}
        <tr>
            <td>{{ domain }}</td>
            <td class="text-end">{{ overthreshold }}</td>
            <td class="text-end">{{ overbouncereq }}</td>
            <td class="text-end">{{ underbouncereq }}</td>
        </tr>
    {{/breakdown}}
    <tr class="font-weight-bold">
        <td>{{#str}} total {{/str}}</td>
        <td class="text-end">{{ total.overthreshold }}</td>
        <td class="text-end">{{ total.overbouncereq }}</td>
        <td class="text-end">{{ total.underbouncereq }}</td>
    </tr>
    </tbody>
</table>
